*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}

body{
    background-color: #eed59d;
}

/* manu de navegação*/
.botao{
    border-color: #332920;
    border-radius: 10px;
}
.icone{
    background-color: #eed59d;
    color: #332920;
}

#logo{
    border-radius: 10px;
}

#nav{
    color:  #332920;
    background-color: #eed59d;
}
#nav a:hover{
    background-color: #332920;
    color: #eed59d;
    border-radius: 10px;
}

#nav li a{
    color: #332920;
}

/*carrossel*/

#myCarousel{
    text-align: center;
    
}

img{
    border-radius: 10px;
}

/*rodapé*/
.footer{
    background-color: #eed59d;
}

.footer img{
    width: 30px;
    height: auto;
    margin-top: 10px;
}
.footer span{
    margin-bottom: 10px;
}
.footer a{
    text-decoration: none;
}

#hist {
    background-color: #332920;
    display: inline;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 20px;
    margin-right: 20px;
    width: 100%;
} 

