*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}

body{
    background-color: #eed59d;
}

/* menu de navegação*/
.botao{
    border-color: #332920;
    border-radius: 10px;
}
.icone{
    background-color: #eed59d;
    color: #332920;
}

#logo{
    border-radius: 10px;
}

#nav{
    color:  #332920;
    background-color: #eed59d;
}
#nav li a:hover{
    background-color: #332920;
    color: #eed59d;
    border-radius: 10px;
}

#nav li a{
    color: #332920;
}

/*carrossel*/

#myCarousel{
    text-align: center;
    
}

img{
    border-radius: 10px;
}

/* Seção historia*/
#hist {
    margin-top: 20px;
} 


#intg{
    margin-top: 20px;
}

.musicos{
    width: 60%;
    margin-top: 40px;
}
.biografia{
    text-align: center;
    margin-top: 10px;
}

/*seção da agenda*/

#agenda td{
    height: 100%;
    width: fit-content;
    background-color: white;
}  
  
#agenda td.bg-info{
    color: black;
}

/* @import url(https://fonts.googleapis.com/css?family=Fjalla+One:400|Roboto:400,400italic,700); */

#agend {
  margin-top: 50px;
}

.jzdbox1 {
  width:315px; 
  background:#332f2e; 
  border-radius:5px; 
  overflow:hidden; 
  display:block; 
  margin-bottom:10px; 
  box-shadow:0 0 10px #201d1c; 
  margin:0 auto; 
  margin-top:0px;
}

.jzdcal {
  padding:0 10px 10px 10px; 
  box-sizing:border-box!important; 
  background: #332920;
  /* background:#749d9e; 
  background: -webkit-linear-gradient(#749d9e, #b3a68b)!important; 
  background: -o-linear-gradient(#749d9e, #b3a68b)!important; 
  background: -moz-linear-gradient(#749d9e, #b3a68b)!important; 
  background: linear-gradient(#749d9e, #b3a68b)!important; */
}

.jzdcalt {
  font:18px 'Helvetica'; 
  font-weight:700; 
  color:#f7f3eb; 
  display:block; 
  margin:18px 0 0 0; 
  text-transform:uppercase; 
  text-align:center; 
  letter-spacing:1px;
}

.jzdcal span {
  font:11px 'Roboto'; 
  font-weight:400; 
  color:#f7f3eb; 
  text-align:center; 
  width:42px; 
  height:42px; 
  display:inline-block; 
  float:left; 
  overflow:hidden; 
  line-height:40px;
}

.jzdcal .jzdb:before {
  opacity:0.3; 
  content:'o';
}

.circle {
  border:1px solid #f7f3eb; 
  box-sizing:border-box!important; 
  border-radius:200px!important;
}

span[data-title]:hover:after, 
div[data-title]:hover:after {
  font:11px 'Roboto'; 
  font-weight:400; 
  content:attr(data-title); 
  position:absolute; 
  margin:0 0 100px; 
  background:#282423; 
  border:1px solid #f7f3eb; 
  color:#f7f3eb; 
  padding:5px; 
  z-index:9999; 
  min-width:150px; 
  max-width:150px;
}


/*seção de contato*/

#contato{
    background-color: #282423;
    color: #eed59d;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
    width: 100%;
}

#contato ul{
    list-style: none;
}
#contato ul li{
    padding: 5px;
    padding-right: 30px;
}
 #contato img{
    width: 25px;
    padding-right: 4px;
}

.botaoSub{
    border-color: #eed59d;
    background-color: #eed59d;
    color: #282423;
    border-radius: 17px;
}


.inforContato{
    text-align: justify;
}
.formContato{
    text-align: justify;
}





/*rodapé*/
.footer{
    background-color: #eed59d;
}

.footer img{
    width: 30px;
    height: auto;
    margin-top: 10px;
}
.footer span{
    margin-bottom: 10px;
}
.footer a{
    text-decoration: none;
}



